@use "mixin" as *;

h1 {
  font-weight: 700 !important;
  @include adaptiv-font(70, 94);
}
h2 {
  font-weight: 600 !important;
  @include adaptiv-font(22, 40);
}
h3 {
  font-weight: 600 !important;
  @include adaptiv-font(24, 30);
}
h4 {
  font-weight: 600 !important;
  @include adaptiv-font(17, 24);
}
h5 {
  font-weight: 500 !important;
  @include adaptiv-font(14, 22);
}
p {
  @include adaptiv-font(12, 16);
}
